* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
}

body {
    background-color: floralwhite;
    color: darkred;
}

#navbar {
    background-color: floralwhite;
    font-family: Tahoma;
    font-weight: bold;
    font-variant: small-caps;
    padding: 10px 100px;
    margin: 0px;
    /* border: 1px solid black; */
    height: 150px;
}

#navbar h1 {
    display: flex;
    font-size: 40px;
    color: white;
    text-shadow:
    1px 1px black,
    2px 2px 3px darkred,
    1px -1px black,
    -1px 1px black,
    -1px -1px black;
    /* border: 1px solid blue; */
    height: 100px;
    align-items: center;
}

#tabs {
    display: flex;
    font-variant:normal;
    font-weight: normal;
    font-size: 16pt;
    color: darkred;
    /* border: 1px solid black; */
    height: 100px;
    width: 100%;
    align-items: center;
    justify-content: right;
}

#tabs span {
    padding: 10px;
}

#tabs span a {
    color: darkred;
    text-decoration: none;
}

#tabs span a:hover, a:active {
    color: dimgray;
}

.headers {
    display: flex;
    height: 150px;
    padding: 0px;
    margin: 0px;
    align-items: center;
    /* border: 1px solid red; */
}

.headers a:link {
    text-decoration: none;
}

#logo {
    height: 100px;
    width: 100px;
    margin-left: 25px;
    margin-right: 10px;
    /* border: 1px solid green; */
}

article {
    color: dimgray;
    font-family: helvetica;
    font-weight: normal;
    padding: 10px 100px 10px 200px;
    font-size: 16pt;
    /* border: 1px solid red; */
}

article h1 {
    color: darkred;
    font-weight: normal;
    font-variant: small-caps;
    font-size: 48pt;
}

h3 {
    color: darkred;
    font-weight: normal;
    font-size: 20pt;
    font-variant: small-caps;
}

article h3 {
    margin-right: 50px;
}

article li {
    margin-left: 50px;
    margin-right: 50px;
}

.walking_stats {
    display: flex;
    margin: 20px 0px;
    /* border: 1px solid green; */
}

#comment_text, #challenge {
    margin-top: 30px;
    /* border: 1px solid blue; */
}

.stat_value {
    font-weight: bold;
}

#body_content {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

#date_picker {
    /* border: 1px solid green; */
    margin: 0px 100px 0px 20px;
    font-size: 13pt;
}

#post_content {
    flex: 1;
}

#date_picker h3 {
    font-weight: bold;
    padding: 10px;
    width: 200px;
    /* border: 1px solid blue; */
    text-align: center;
    font-size: 22pt;
}

#date_picker ul {
    /* border: 1px solid yellow; */
    list-style: none;
    margin: 5px 20px;
}

#date_picker li {
    margin-top: 5px;
}

#dates {
    margin: 10px 20px;
}

.months {
    font-weight: bold;
}

.days {
    font-weight: normal;
    color: dimgray;
}

.days a {
    text-decoration: none;
}

.days a:link, a:visited {
    color: dimgray;
}

.days a:hover {
    color: darkred;
}

#calendarcontainer {
    display: flex;
    justify-content: center;
    padding: 50px;
    color: darkred;
    user-select: none;
}

#calendarcontainer table {
    border-collapse: collapse;
}

#calendarcontainer td, th {
    width: 50px;
    height: 50px;
    text-align: center;
}

#calendarcontainer th {
    font-weight: bold;
    font-variant: small-caps;
}

.complete {
    background: linear-gradient(to bottom, transparent 10%, rgba(60, 179, 113, 0.5))
}

.complete:hover {
    background: linear-gradient(to bottom, transparent 10%, rgba(60, 179, 113, 1))
}

.partial {
    background: linear-gradient(to bottom, transparent 10%, rgba(240, 128, 128, 0.5))
}

.partial:hover {
    background: linear-gradient(to bottom, transparent 10%, rgba(240, 128, 128, 1))
}

#monthheader {
    border: none;
    color: lightgray;
}

.dayheader {
    border-bottom: 1px solid lightgray;
}

#calendarcontainer a {
    text-decoration: none;
    color:darkred;
}

#calendarcontainer a:hover {
    color: darkred;
    font-weight:bold;
}

#calendarcontainer a:active {
    color: darkred;
}

#calendarcontainer a:visited {
    color: darkred;
}

footer {
    margin-top: 30px;
    margin-right: 50px;
    padding: 10px 100px 10px 200px;
}

footer a:link {
    text-decoration: none;
    font-family: helvetica;
    font-weight: bold;
    color: darkred;
}


footer a:active {
    color: dimgray;
}

footer a:visited {
    color: darkred;
}

footer a:hover {
    color:dimgray;
}
