{% extends 'base.html' %}

{% block stylesheet %}

<link rel="stylesheet" href="{{url_for('static', filename='blog_styles.css') }}" />

{% endblock stylesheet %}

{% block main %}

<article>
    <h1>Activity Blog</h1>
    <div id="comment_text">
        <p>At the start of June 2025, I challenged myself to walk 10,000 steps a day for the entire month. I posted the distance and number of steps to Twitter every day in an effort to keep myself honest.</p><br />
        <p>I succeeded and found out a couple of interesting things about myself:</p><br />
        <ul>
            <li>The exercise was very beneficial for my physical and mental health and for managing my ADHD</li>
            <li>By posting to Twitter, I was making myself accountable which was incredibly effective in not just letting things slide</li>
        </ul><br />
        <p>In addition, I was losing weight very quickly, which is a good thing as I was a bit of a blob.</p><br />
        <p>Rather than relentlessly boring my friends on Twitter, I decided to start this blog, both as a way to carry on the above benefits, but also to force myself to learn new things. From a very rudimentary knowledge of basic HTML, I am now self-hosting this site on a Raspberry Pi in my living room and have built this site using Python, Flask, nginx and gunicorn!</p><br />
    </div>
    <div id="challenge">
        <h3>December Challenge</h3><br />
        <p>November was a total wash-out! Between work, family and illness, I did not manage to get much done. So, for December, I am going to keep it simple - 10k steps per day. Progress will be shown on the calendar below.</p><br />
        <div id="calendarcontainer">
            <table>
                <tr>
                    <th id='monthheader' colspan="7">{{monthName}} {{calYear}}</th>
                </tr>
                <tr>
                    <th class="dayheader">Mon</th>
                    <th class="dayheader">Tue</th>
                    <th class="dayheader">Wed</th>
                    <th class="dayheader">Thu</th>
                    <th class="dayheader">Fri</th>
                    <th class="dayheader">Sat</th>
                    <th class="dayheader">Sun</th>
                </tr> 
                <!-- {% if link_data.get(day) %}
                class="complete"
                {% endif %} -->
                {% for month in myMonth %}
                <tr>
                    {% for day in month %}
                    {% if link_data.get(day) %}
                        {% if link_data[day] >= 10000 %}
                        <td class="complete">
                        {% else %}
                        <td class="partial">
                        {% endif %}
                    {% else %}
                    <td>
                    {% endif %}
                        {% if day != 0 %}
                        {% if link_data.get(day) %}
                        <a href="{{ url_for('show_day', year=calYear, month=calMonth, day=day) }}">{{ day }}</a>
                        {% else %}
                        {{ day }}
                        {% endif %}
                        {% endif %}
                    </td>
                    {% endfor %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</article>
{% endblock main %}